<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <div class="container">
    <a class="navbar-brand " href="#"><strong> Blackbuck </strong></a>
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/blog">Blogs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#tests">Tests</a>
      </li>
      <% if(ses){%>
      <li class="dropdown">
        <button class="btn btn-secondary dropdown-toggle text-right mx-3 rounded-pill" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%=usr.username %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Profile</a>
          <% if(usr.role){%>
          <a class="dropdown-item" href="/dashboard">Dashboard</a>
          <%}%>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
      <%}%>
      <% if(!ses){%>
      <li class="nav-pills">
        <a class="nav-link active text-right ml-3 mx-1 px-4 rounded-pill" href="/login">Login</a>
      </li>
      <li class="nav-pills">
        <a class="nav-link active text-right mx-1 px-4 rounded-pill" href="/register">Register</a>
      </li>
      <%}%>
    </ul>
</div>
  </nav>