.txt1{
    margin-top: 610px;
    margin-left: 50px;
}
.txt2{
    margin-left: 50px;
}
#footer {
    background-color: #222;
    color: #d3d3d3;
    font-size: 12px;
}
#footer li {
    line-height: 28px;
}
#footer li {
    list-style: none;
}
#footer a {
    color: #d3d3d3;
    font-weight: 500;
}
#footer a:hover {
    color: #f6b138;
}
#footer p {
    line-height: 24px;
}
#footer .footer-top {
    padding-top: 100px;
}
#footer .footer-top .columns {
    border-left: 1px solid #2e2e2e;
}
#footer .footer-top .columns:first-child {
    border: none;
}
#footer .footer-bottom {
    margin-top: 40px;
    border-top: 1px solid rgba(255,255,255,0.1);
    padding-top: 20px;
}
#footer p {
    color: #d3d3d3;
}
#footer .block {
    margin-bottom: 20px;
}
#footer .block-about {
    padding-right: 80px;
}
.block-companies {
    padding-right: 50px;
}
#footer .block-links li {
    float: left;
    width: 50%;
}
#footer .block .block-title {
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.3px;
    margin-top: 0;
    margin-bottom: 25px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}
#footer .block-content img {
    margin-top: 20px;
}
#footer .block .block-title:not(.no-underline):before {
    background: #f6b138;
    bottom: 0;
    content: "";
    height: 2px;
    position: absolute;
    width: 50px;
}
#footer .copyright {
    text-transform: uppercase;
}
#footer .copyright p {
    font-size: 11px;
    margin-bottom: 0px;
}
.navbar { z-index: 1;}
.navbar-nav {align-items: center;}
#Login {right: 0; position: absolute; left: unset;}